.recordings {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.recordings h2 {
  text-align: center;
  margin: 2rem 0 3rem;
}

.recordings > ul {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
