.strip {
  color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  flex: 1;
  margin: 48px 0;
}

.container[data-width='narrow'] {
  max-width: 600px;
}

.container[data-width='wide'] {
  max-width: 1200px;
}
