.banner-pic {
  max-height: 90vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 768px) {
  .banner-pic {
    max-height: none;
  }

  .banner-pic article {
    display: flex;
    height: 100vh;
    justify-content: center;
    position: static;
    width: 100%;
  }
}
