.performances {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.performances h2 {
  margin: 2rem 0 3rem;
  text-align: center;
}

.performances ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 0;
}

.performances li {
  transition: 0.2s ease;
  padding: 16px;
}

.performances li:hover {
  background: var(--color-accent);
  color: #111;
}
