.logo {
  color: #fff;
  font-size: clamp(2rem, 3vw, 4rem);
  margin: 12px 0 6px;
  transition: 0.2s ease;
}

.logo:hover {
  transform: scale(0.95);
}

.logo span:last-child {
  color: var(--color-accent);
}
