* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #2b2b34;
  --color-secondary: #111;
  --color-accent: rgb(0, 242, 255);
}

h1 {
  margin: 0;
}

h2 {
  color: var(--color-accent);
  font-size: 2rem;
}

h3 {
  color: var(--color-accent);
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

p,
li {
  font-size: 1.1rem;
}
