* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #111;
  --color-secondary: rgb(138, 22, 22);
  --color-accent: rgb(0, 242, 255);
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}
